@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 50px;
}

.page-header {
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

.page-header__logo {
  margin: 0 auto;
  margin-top: 22px;
  background: url("../img/mishka-logo-mobile.jpg") no-repeat;
  width: 90px;
  height: 50px;
}

.page-header__logo:hover {
  opacity: 0.6;
}

.page-header__logo:active {
  opacity: 0.3;
}

.page-header__logo-image {
  width: 100%;
  height: 390px;
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #f9f9f9;
}

.slogan {
  position: relative;
  display: block;
  width: 81.25%;
  margin: 0 auto;
  top: 76px;
  text-align: center;
  font-weight: bold;
  line-height: 36px;
  font-size: 30px;
}

.main-nav {
  position: relative;
  width: auto;
  background-color: #ffffff;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.main-nav__toggle {
  position: absolute;
  top: -42px;
  right: 30px;
  width: 22px;
  height: 18px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 1px;
  right: 0;
  width: 22px;
  height: 2px;
  background-color: black;
  -webkit-box-shadow: 0 6px 0 0 black, 0 12px 0 0 black;
          box-shadow: 0 6px 0 0 black, 0 12px 0 0 black;
}

.main-nav--opened .main-nav__toggle {
  position: absolute;
}

.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 22px;
  height: 2px;
  background-color: #000000;
}

.main-nav--opened .main-nav__toggle::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main-nav--opened .main-nav__toggle::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.site-list {
  font-weight: bold;
}

.site-list a {
  display: block;
  padding: 21px;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
  color: #000000;
}

.site-list__catalog {
  margin: 0;
}

.site-list__item {
  margin: 0;
  padding: 0;
}

.site-list__catalog a:hover,
.store a:hover {
  opacity: 0.6;
}

.site-list__catalog a:active,
.store a:active {
  opacity: 0.3;
}

.site-list__item:hover .site-search__text {
  opacity: 0.6;
}

.site-list__item:active .site-search__text {
  opacity: 0.3;
}

.site-list__item:hover .site-list__item-search {
  fill: #63d1bb;
}

.site-list__item:active .site-list__item-search {
  opacity: 0.6;
}

.site-list__item-search {
  position: relative;
  width: 16px;
  height: 16px;
  fill: #d3d2d2;
  left: -40px;
}

.site-search__text {
  position: relative;
  left: -20px;
}

.store {
  font-size: 16px;
  padding-left: 50px;
  padding-bottom: 0;
  margin: 0;
  display: none;
}

.user-list {
  font-weight: bold;
}

.user-list__info {
  margin: 0;
  padding-left: 0;
}

.user-list__info a {
  display: block;
  padding: 21px;
  padding-left: 55px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.user-list__item {
  width: 100%;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.user-list__item:hover .style-basket {
  opacity: 0.6;
}

.user-list__item:active .style-basket {
  opacity: 0.3;
}

.user-list__basket:hover .user-list__item-basket {
  fill: #63d1bb;
}

.user-list__basket:active .user-list__item-basket {
  opacity: 0.3;
}

.user-list__item-basket {
  position: relative;
  top: 2px;
  left: -20px;
  fill: #d3d2d2;
}

.categories-list {
  position: relative;
  margin: 0 auto;
  margin-top: -70px;
  z-index: 2;
}

.categories__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.categories__item:nth-child(1) img {
  position: absolute;
  right: 40px;
  top: 23px;
  opacity: 0.6;
}

.categories__item:nth-child(2) img {
  position: absolute;
  right: 30px;
  bottom: 20px;
  opacity: 0.6;
}

.categories__item:hover:nth-child(1) img {
  position: absolute;
  top: 20px;
  opacity: 1;
}

.categories__item:active:nth-child(1) img {
  opacity: 0.3;
}

.categories__item:hover:nth-child(2) img {
  position: absolute;
  bottom: 30px;
  opacity: 1;
}

.categories__item:active:nth-child(2) img {
  opacity: 0.3;
}

.categories__item:nth-child(1) {
  background-color: #63d1bb;
}

.categories__item:hover:nth-child(1) {
  -webkit-box-shadow: 0 -5px 0px 0px #63d1bb;
          box-shadow: 0 -5px 0px 0px #63d1bb;
}

.categories__item:nth-child(2) {
  background-color: #56c3b2;
}

.categories__item:hover:nth-child(2) {
  -webkit-box-shadow: 0 -5px 0px 0px #56c3b2;
          box-shadow: 0 -5px 0px 0px #56c3b2;
}

.categories__item a {
  padding: 20px 0;
  padding-left: 30px;
  font-size: 27px;
  color: #ffffff;
}

.categories__item a:hover {
  position: relative;
  top: -5px;
  opacity: 0.6;
}

.categories__item a:active {
  opacity: 0.3;
}

.popular-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 30px;
  padding-right: 60px;
}

.product-name {
  font-size: 25px;
}

.product-week {
  font-size: 18px;
  text-transform: uppercase;
  color: #63d1bb;
}

.characteristics-list {
  border-collapse: collapse;
  font-size: 15px;
}

.product__description {
  font-size: 15px;
  line-height: 1.6em;
  color: #444444;
}

.popular-product td {
  padding-top: 20px;
  color: #444444;
}

.characteristics-list tr {
  position: relative;
  bottom: 4px;
  border-bottom: 1px solid #ececec;
}

.characteristics-list__field {
  padding-right: 40px;
}

.triple-set-wrapper {
  min-width: 200px;
  min-height: 315px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 30px;
  line-height: 0;
  background-color: wheat;
}

.product-cost {
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #444444;
}

.button {
  display: block;
  width: 260px;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #444444;
  border: 2px solid #444444;
}

.button:hover {
  background-color: #444444;
  color: #ffffff;
}

.button:active .active-button {
  opacity: 0.3;
}

.advantages {
  margin-top: 35px;
  background-image: url("../img/zigzag-separator.svg");
  background-repeat: no-repeat;
}

.advantages__wrapper {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.advantages__title {
  font-size: 25px;
}

.advantages__item {
  position: relative;
  margin-top: 90px;
  font-weight: bold;
}

.advantages__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 40px;
  background-repeat: no-repeat;
}

.advantages__item--flower::before {
  top: -50px;
  left: 18px;
  background-image: url("../img/icon-feature-flower.svg");
}

.advantages__item--money::before {
  top: -54px;
  left: 10px;
  background-image: url("../img/icon-feature-money.svg");
}

.advantages__item--heart::before {
  top: -55px;
  left: 16px;
  background-image: url("../img/icon-feature-heart.svg");
}

.advantages__item--ball::before {
  top: -55px;
  left: 16px;
  background-image: url("../img/icon-feature-ball.svg");
}

.advantages__item--rocket::before {
  top: -55px;
  left: 5px;
  background-image: url("../img/icon-feature-rocket.svg");
}

.advantages__item--gift::before {
  top: -58px;
  left: 14px;
  background-image: url("../img/icon-feature-gift.svg");
}

.reviews__wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.reviews__item {
  margin-left: 0;
  font-size: 15px;
  color: #444444;
  line-height: 2em;
}

.reviews__author-name {
  font-size: 18px;
  font-weight: bold;
}

.reviews__author-nickname {
  font-size: 18px;
}

.reviews__prev {
  width: 80px;
  height: 40px;
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .page-header__logo {
    width: 112px;
    margin-left: 30px;
    margin-right: 210px;
    margin-bottom: 26px;
    background: url("../img/mishka-logo-tablet.jpg") no-repeat;
    z-index: 2;
  }

  .page-header__logo-image {
    position: relative;
    margin-top: -250px;
    height: 742px;
    background-image: url("../img/hero-desktop.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top 0;
    z-index: 1;
  }

  .slogan {
    line-height: 52px;
    font-size: 43px;
    margin-top: 80px;
  }

  .main-nav__toggle {
    display: none;
  }

  .site-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    border-top: 1px solid #ececec;
  }

  .site-list a {
    font-size: 16px;
    padding: 0;
  }

  .site-list__catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 660px;
    margin-top: 14px;
    padding-left: 30px;
    z-index: 3;
  }

  .site-list__search {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    z-index: 1;
  }

  .site-list__item-search {
    position: relative;
    width: 18px;
    height: 18px;
    top: -98px;
    left: -340px;
    fill: #d3d2d2;
    padding-top: 10px;
    padding: 40px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    z-index: 1;
  }

  .site-search__text {
    width: 1px;
    height: 1px;
    display: none;
  }

  .site-list__item-knitting {
    margin-left: 20px;
  }

  .delivery-info {
    position: relative;
    padding-right: 50px;
    bottom: 200px;
    text-align: end;
    font-size: 16px;
    z-index: 2;
  }

  .user-list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    top: -202px;
    padding: 14px;
  }

  .user-list__item {
    border: none;
  }
}

@media (min-width: 1200px) {
  .page-header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    margin-top: 8px;
    padding-bottom: 10px;
    background: url("../img/mishka-logo-desktop.jpg") no-repeat;
    width: 150px;
    height: 80px;
  }

  .slogan {
    line-height: 63px;
    font-size: 53px;
  }

  .site-list__catalog {
    position: absolute;
    width: 400px;
    margin-left: 60px;
    top: -74px;
  }

  .site-list__catalog a {
    font-size: 18px;
  }

  .site-list__item-knitting {
    padding-top: 38px;
    padding-left: 20px;
    margin-top: -38px;
    height: 62px;
    border-left: 1px solid #ececec;
  }

  .store {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 600px;
    margin-top: 25px;
    margin-left: 40px;
    height: 20px;
    z-index: 3;
  }

  .store__sale {
    margin-left: 30px;
  }
}

@media (max-width: 767px) {
  .main-nav--closed .site-list__item,
  .main-nav--closed .user-list__item {
    display: none;
  }

  .main-nav--closed .site-list__item--active,
  .main-nav--closed .user-list__item--active {
    display: block;
  }

  .main-nav--closed .site-list {
    display: none;
  }

  .delivery-info {
    display: none;
  }

  .site-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .site-list__catalog {
    margin-left: -40px;
    margin-bottom: 0;
  }

  .site-list__item {
    position: relative;
    background-color: #ffffff;
    border-top: 1px solid #ececec;
  }

  .site-list__search {
    width: 100%;
    margin-left: -20px;
  }

  .user-list {
    text-align: center;
    margin-left: -70px;
  }
}

.webp .page-header__logo { background: url(../img/mishka-logo-mobile.webp) no-repeat; }

.webp .page-header__logo-image { background-image: url(../img/hero-mobile.webp); }

@media (min-width: 768px) {

  .webp .page-header__logo { background: url(../img/mishka-logo-tablet.webp) no-repeat; }
}

@media (min-width: 768px) {

  .webp .page-header__logo-image { background-image: url(../img/hero-desktop.webp); }
}

@media (min-width: 1200px) {

  .webp .page-header__logo { background: url(../img/mishka-logo-desktop.webp) no-repeat; }
}