.popular-product {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}

.product-name {
  font-size: 25px;
}

.product-week {
  font-size: 18px;
  text-transform: uppercase;
  color: #63d1bb;
}

.characteristics-list {
  border-collapse: collapse;
  font-size: 15px;
}

.product__description {
  font-size: 15px;
  line-height: 1.6em;

  color: #444444;
}

.popular-product td {
  padding-top: 20px;
  color: #444444;
}

.characteristics-list tr {
  position: relative;
  bottom: 4px;
  border-bottom: 1px solid #ececec;
}

.characteristics-list__field {
  padding-right: 40px;
}

.triple-set-wrapper {
  min-width: 200px;
  min-height: 315px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 30px;
  line-height: 0;
  background-color: wheat;
}

.product-cost {
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #444444;
}
